<div id="<%= dom_id participation %>">
  <p>
    <strong>User:</strong>
    <%= participation.user_id %>
  </p>

  <p>
    <strong>Code retreat session:</strong>
    <%= participation.code_retreat_session_id %>
  </p>

  <p>
    <strong>Primary technology:</strong>
    <%= participation.primary_technology_id %>
  </p>

  <p>
    <strong>Secondary technology:</strong>
    <%= participation.secondary_technology_id %>
  </p>

</div>
